[Unit]
Description=Keeps the Deep Gems indexer up
After=network.target

[Service]
Type=simple
ExecStart=npm run start
Restart=always
User=ubuntu
WorkingDirectory=/home/ubuntu/deepgems/deepgems_site/indexer/
